#mainNav {
  @include heading-font;
  .navbar-brand {
    //color: $primary;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($white, 0.3);
        font-weight: 500;
      }
      &.active {
        .nav-link {
          color: $primary;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      font-size: 0.9rem;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      text-align:  center;
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          
          &:hover {
            color: fade-out($white, 0.6);
          }
        }
        &.active {
          .nav-link:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
