
.provider-btn {
  position: absolute; 
  top: 50%; 
  z-index: 2;
  background-color: $secondary;
  border: $white 1px;
  color: $white;
  border-radius: 8px;
 
  
  &:hover {
    filter: brightness(110%);
    color: $white;
 }
}

 .provider-card {
   position: relative;

   &:hover > .overlay {
  transform: translateY(-4px);
  background-color: black;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
} 
 }

